body{
	background-color: rgb(7, 22, 150);
    background-image:
      linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.container{
	background-color: rgb(240, 240, 240);
	position: relative;
	top: 50px;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
	width: 300px;
	box-shadow: 7px 7px rgb(0, 0, 0);
}

.screen{
	border: 30px solid rgb(255, 0, 0);
	border-radius: 5px;
	background-color: rgb(0, 0, 0);
	box-shadow: 7px 7px rgb(0, 0, 0);
	position: relative;
	top: 50px;
}

label{
	font-size: 150%;
	font-weight: bold;
}

.form-txt{
	background-color: rgb(200, 200, 200);
	width: 40px;
	height: 50px;
	border: none;
	padding-left: 15px;
	font-size: 150%;
	font-weight: bold;
    margin: 2px;
    outline: none;
}

.form-txt-large{
	background-color: rgb(200, 200, 200);
	width: 200px;
	height: 50px;
	border: none;
	padding-left: 15px;
	font-size: 150%;
	font-weight: bold;
    margin: 2px;
    outline: none;
}

.form-btn{
	width: 140px;
	height: 40px;
	border: none;
	border-radius: 5px;
	color: rgb(255, 255, 255);
	font-weight: bold;
	margin: 2px;
}

.btn-positive{
    background-color: rgb(0,200,0);
    outline: none;
}

.btn-negative{
    background-color: rgb(200, 0, 0);
    outline: none;
}

.btn-positive:active{
	background-color: rgb(0,100,0);
}

.btn-negative:active{
	background-color: rgb(100, 0, 0);
}
